{% extends "index.html" %}
{% block things %}
    <div class="alert alert-success" role="alert">
      Weathers information is as following
    </div>
{% endblock %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Temp</th>
      <th scope="col">Feels</th>
      <th scope="col">Pressure</th>
      <th scope="col">Humidity</th>
      <th scope="col">MinTemp</th>
      <th scope="col">MaxTemp</th>
      <th scope="col">WindSpeed</th>
      <th scope="col">WindDeg</th>
      <th scope="col">WindGust</th>
      <th scope="col">Clouds</th>
      <th scope="col">WeatherId</th>
      <th scope="col">Weather</th>
      <th scope="col">Dscription</th>
      <th scope="col">Icon</th>
    </tr>
    <tbody>
  {% for date in dates %}
  <tr>
      <th scope="col">{{ date.id }}</th>
      <th scope="col">{{ date.date | slice:"5:"}}</th>
      <th scope="col">{{ date.temperature }}</th>
      <th scope="col">{{ date.feelsLike }}</th>
      <th scope="col">{{ date.pressure }}</th>
      <th scope="col">{{ date.humidity }}</th>
      <th scope="col">{{ date.minTemperature }}</th>
      <th scope="col">{{ date.maxTemperature }}</th>
      <th scope="col">{{ date.wind_speed }}</th>
      <th scope="col">{{ date.wind_deg }}</th>
      <th scope="col">{{ date.wind_gust }}</th>
      <th scope="col">{{ date.clouds }}</th>
      <th scope="col">{{ date.weather_id }}</th>
      <th scope="col">{{ date.weather_main }}</th>
      <th scope="col">{{ date.weather_description }}</th>
      <th scope="col">{{ date.weather_icon }}</th>
  </tr>
  {% endfor %}
</tbody>
  </thead>
</table>
{% endblock %}