.main-menu {
    width: 100%;
    /* height:calc(50vh - 48px); */
    min-height: 30vh;
    max-height: calc(100vh - 45px);
    
}

@media only screen and (min-width: 840px){
    .main-menu {
    margin: 0 0 0 0;
    min-width: 350px;
    max-width: 400px;
    width:30%;
    height:100%;
    border-radius: 10px;
    }
        
}


.MuiAccordionSummary-content{
    justify-content: center;
}

.MuiTabPanel-root{
    padding:0;
}