.logo {
    padding-left: 10px;
    width: 30%;
    height: 70%;
    min-height: 40px;
    min-width: 100px;
  }

  
  .header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    
  }
